:root{
    --title-color: #212121;
    --main-title-color:#757575;
    --hover-footer-color:#2196F3;
    --fonfocus-color: #FFFFFF;
}

h1, h2, h3, p, ul{
    margin: 0  auto;

}
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #757575;
    background-color:  #E5E5E5;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
   outline: 1px solid tomato;
}


                         /* header */
.header-logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color:var(--title-color); 
margin-right: 95px;
}
.header-two-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--title-color); 
    margin-right: 95px;
    }
.span{
    color:var(--hover-footer-color) ; 
}
.header-list{
    display: flex;
}
.header-two-list{
    display: flex;
}
.header-item {
    margin: 50px;
}
.header-two-item{
    margin: 50px;
}
 
.heder .container{
    display: flex;
    align-items: center;
    height: 80px;
}


.header-two .container{
    height: 80px;
    display: flex;
    align-items: center;
}
.header-two-mail{
    margin-right: 50px;
}

.header-link {
 font-weight: 500; 
 line-height: 1.14;
 letter-spacing: 0.02em;
 color:var(--title-color) ;
 }
.link{
text-decoration: none;
}
.header-mail, .header-tel   
{
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--main-title-color) ;
}
.header-mail:hover  {
    color:var(--hover-footer-color);
}
.header-mail:focus{
    color:var(--hover-footer-color);
}
.header-tel:hover{
    color:var(--hover-footer-color);
}
.header-tel:focus{
    color:var(--hover-footer-color) ;
}

.header-link:hover
{
    color:var(--hover-footer-color) ;

}
.header-link:focus
{
    color:var(--hover-footer-color);  
}

.header-mail link
{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--main-title-color) ; 
  
}
.header-tel
 {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--main-title-color) ;
    margin-left: 50px;
}
.list-contact{
  list-style: none;
   margin-left: auto;
   display: flex;
}
.list{
    list-style: none ;

    align-items: center;
    margin-left: auto;
   
    
}
                                 /* section */
.section-btn
{
    font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color:var(--title-color) ;
margin-right: 10px;


}
.section-list{
 display: flex;
   margin-bottom: 60px;
 margin-left: 280px;
}
.section-list-list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-left: -70px;
}
 .section-one-list {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
 }

.stn{ color: #212121;
text-align: center;
margin-bottom: 20px;
padding-top: 20px;
}
.section-btn:hover
{
    background: #2196F3;
    color:var(--fonfocus-color) ;
}
.section-btn:focus
{
    background: #2196F3; 
    color:var(--fonfocus-color) ;
}
                    /*section-one  */


.section-three{
   padding-top: 94px;
}
.section-one-link
{
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color:var(--title-color) ;
}
.section-one-text
{
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color:var(--main-title-color) ;
}
.section-three-title{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}
.section-three-list {
    display: flex;
}
.section-three-item{
    max-width: 270px;
    margin-left: 30px;
}
.section-four-title{
    text-align: center;
}
.section-four-list {
    display: flex;
    margin-top: 50px;
  
}
.section-four-item{
    
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 10px;
}
.section-four-list{
    margin-left: -30px;
}
.section-five-title{
    text-align: center;
    
}
.section-five-list{
    display: flex;
    margin-top: 50px;
}
                        /* footer */
.footer-link
{
 font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--main-title-color);


}
.footer-link:hover
{
    color:var(--fonfocus-color) ;
}
.footer-link:focus
    {
        color:var(--fonfocus-color) ; 
    }


.footer, .footer-two
{
background-color: rgb(124, 175, 36);

}
.footer-logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color:var(--title-color) ; 

}


                  /* header-two */

    
 .hesder-two-link{
    font-weight: 500; 
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--title-color) ;
 }
 .footer-item{
     margin-bottom: 9px;
     margin-top: 20px;
 }
 .hesder-two-link:hover{
    color:var(--hover-footer-color);
 }
 .hesder-two-link:focus{
    color:var(--hover-footer-color) ;

 }
 .header-two-mail, .header-two-tel   
{
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--main-title-color) ;
}
.header-two-mail:hover{
    color:var(--hover-footer-color) ; 
}
.header-two-mail:focus{
    color:var(--hover-footer-color) ; 
}
.header-two-tel:hover{
    color:var(--hover-footer-color);
}   
.header-two-tel:focus{
    color:var(--hover-footer-color); 
}
           /* section */
.section{
padding-top: 94px;
padding-bottom: 94px;
        }
             /* section-two */
 .hero-two{
    padding: 200px 275px 280px 275px;
    text-align:center;

 }
  
 
.section-two-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color:var(--fonfocus-color) ; 
    background-color: #2196F3;
   max-width: 555px;
   
}
.section-two-btn{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color:var(--fonfocus-color) ;
margin: 30px;

}
.section-two-btn:hover
{
    background: #2196F3;
}
.section-two-btn:focus
{
    background: #2196F3; 
    color:var(--fonfocus-color) ;
}
         /*  section-three */
 .section-three-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
    
    
 }
 .section-three-item-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color:var(--title-color);
    margin-bottom: 10px;
 }
 .section-three-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--main-title-color);
 }
                    /* section-four */
.section-four .container{
    padding-top: 94px;
    
}
.section-five-list{
    margin-left: -70px;
}
.section-five {
  padding-top: 94px;
  padding-bottom: 94px;
  
}
.section-five-item{
flex-basis: calc((100% -90 ) / 4);
margin-left: 30px;
}
.section-four-item{
    margin-top: 30px;
}
 .section-four-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color:var(--title-color) ; 
 
 }
 
           /*  section-five-title*/
.section-five-title{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
margin-bottom: 50px;
color:var(--title-color)


}
.stn-title{
 font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: #212121;
}
.section-list{

}
.stn-text{
    font-weight: 400;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--main-title-color) ;
}
         /* footer-two */
.footer-two-logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #212121; 
padding-top: 60px;

}
.footer-two-link
{
 font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--main-title-color) ;

}
.footer-two-link:hover
{
    color:var(--fonfocus-color);
}
.footer-two-link:focus
    {
        color: var(--fonfocus-color) ; 
    }
.footer-two-item{
    margin-bottom: 9px;
    margin-top: 20px;
}
.footer-two-item{
}
.footer .container{
    height: 250px;
}
.footer-two .container{
    height: 250px;
}

.webstudio{
 padding-top: 60px;
 padding-left: 40px;
}
